html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #6d6d6d;
    font-size: 14px;
    line-height: 2.1;
    font-family: "Hiragino Sans GB", sans-serif;
}

a {
    color: #6d6d6d;
    text-decoration: none;

    &:hover { text-decoration: underline; }
}

ul.reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

blockquote {
    margin: 15px;
    padding-left: 2em;
    background: url(images/quote.png) no-repeat 0 0;
}

a[href^="http://www.51.la"] {
    display: none;
}

.jetpack_subscription_widget .widgettitle {
    display: none;
}
