.inner {
    margin: 40px 0;

    > .home-link {
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }

    .top {
        padding-bottom: 8px;
        margin-bottom: 30px;
        border-bottom: 1px solid #999;

        h1 {
            font-size: 16px;
            font-weight: normal;
            display: inline;
        }
    }

    .meta {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
        color: #999;
    }

    ul.meta {
        display: inline;
        padding-left: 0;

        li {
            display: inline;
            margin-right: 10px;
        }
    }

    .source {
        margin-top: 20px;
        font-style: italic;
    }
}

.archives {
    li {
        h3 {
            font-size: 14px;
            font-weight: normal;
            display: inline;
        }
    }
}

.ds-meta, .ds-rounded, .ds-powered-by, .ds-comments-info, .ds-post-likes, .ds-post-report, .ds-post-repost {
    display: none !important;
}

@media only screen and (max-width: 640px) {
    .inner {
        margin-top: 5px;
        padding: 0 10px;

        .home-link {
            float: none;
        }

        .top {
            margin-bottom: 0;

            h1 {
                display: block;
                margin: 0;
            }
        }

        .meta {
            margin-left: 0;
        }
    }

    .archives {
        padding-left: 0;

        > li:before {
            content: "-";
            margin-right: 5px;
        }
    }
}
