.home-link {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}

.inner {
    margin: 40px 0;

    .top {
        padding-bottom: 8px;
        margin-bottom: 30px;
        border-bottom: 1px solid #999;

        h1 {
            font-size: 16px;
            font-weight: normal;
            display: inline;
        }
    }

    .meta {
        margin-left: 10px;
        font-size: 12px;
        color: #999;
    }

    ul.meta {
        display: inline;
        padding-left: 0;

        li {
            display: inline;
            margin-left: 10px;
        }
    }

    .source {
        margin-top: 20px;
        font-style: italic;
    }
}

.archives {
    li {
        h3 {
            font-size: 14px;
            font-weight: normal;
            display: inline;
        }
    }
}

.ds-meta, .ds-rounded, .ds-powered-by, .ds-comments-info, .ds-post-likes, .ds-post-report, .ds-post-repost {
    display: none !important;
}

@media only screen and (max-width: 640px) {
    .inner {
        padding: 0 10px;
    }
}
