body {
    color: #6d6d6d;
    font-size: 14px;
    line-height: 2.1;
    font-family: "Hiragino Sans GB", sans-serif;
    padding: 0 20px;
}

a {
    color: #6d6d6d;
}

blockquote {
    padding-left: 2em;
    background: url(images/quote.png) no-repeat 0 0;
    margin: 15px;
}
