/* line 1, scss/about.scss */
.top {
  margin-bottom: 30px !important;
}

/* line 5, scss/about.scss */
.about-content {
  line-height: 2.67;
}
/* line 8, scss/about.scss */
.about-content section {
  margin-bottom: 32px;
}
/* line 12, scss/about.scss */
.about-content ul {
  padding-left: 16px;
}
